numpy
pandas
matplotlib
yfinance
scikit-learn
tensorflow==2.16.1
keras==3.12.1
requests
google-cloud-storage
streamlit
joblib
plotly
google-cloud-aiplatform
feedparser
vaderSentiment
google-cloud-firestore
python-dotenv
fastapi
uvicorn
setuptools
